

<!-- <div class="row">
    <div class="col-md-4" *ngFor="let i of products">
      <div class="card" style="width: 18rem;">
        <img src="i.imageUrl" class="card-img-top" alt="...">

        <div class="card-body">

            <p class="card-text">
                <strong> {{i.price | currency:'$'}} </strong>
            </p>
  <button class="btn btn-black">Add</button>      
  <button class="btn btn-black" routerLink="/cart">view Détails</button>         
  
  </div>
      </div>
    </div>
  </div> -->
<h1>hello</h1>